<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangxingdi.wechat.ecb.dao.EcbAccountDAO">
    <resultMap id="resultMap" type="com.wangxingdi.wechat.ecb.domain.EcbAccount">
        <id column="id" property="id"/>
        <result column="as_id" property="asId"/>
        <result column="user_id" property="userId"/>
        <result column="app_name" property="appName"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="yn" property="yn"/>
    </resultMap>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.wangxingdi.wechat.ecb.domain.EcbAccount" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ecb_account
        (
        as_id,
        user_id,
        app_name,
        user_name,
        password,
        remark,
        create_time,
        update_time,
        yn
        )
        VALUES
        (
        #{asId},
        #{userId},
        #{appName},
        #{userName},
        #{password},
        #{remark},
        now(),
        now(),
        1
        )
    </insert>

    <!-- 删除 -->
    <update id="delete" parameterType="com.wangxingdi.wechat.ecb.domain.EcbAccount">
        UPDATE ecb_account
        <set>
            yn = 0
        </set>
        WHERE as_id = #{asId}
          AND user_id = #{userId}
          AND yn = 1
    </update>

    <!-- 更新 -->
    <update id="update" parameterType="com.wangxingdi.wechat.ecb.domain.EcbAccount">
        UPDATE ecb_account
        <set>
            app_name = #{appName},
            user_name = #{userName},
            password = #{password},
            remark = #{remark},
            update_time = now()
        </set>
        WHERE as_id = #{asId}
          AND user_id = #{userId}
          AND yn = 1
    </update>

    <!-- 根据id查询 -->
    <select id="findByAsId" parameterType="com.wangxingdi.wechat.ecb.domain.EcbAccount" resultMap="resultMap">
        SELECT as_id, app_name, user_name, password, remark
          FROM ecb_account
         WHERE as_id = #{asId}
           AND yn = 1
    </select>

    <!-- 分页查询-列表 -->
    <select id="list" resultMap="resultMap">
        select as_id, app_name, user_name, '******', remark
          from ecb_account
         where user_id = #{ecbAccount.userId}
        <if test="ecbAccount.appName != null and ecbAccount.appName != ''">
            and app_name like #{ecbAccount.appName}
        </if>
        order by update_time desc
        limit #{page.pageStart}, #{page.pageSize}
    </select>

    <!-- 分页查询-总计 -->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
          from ecb_account
         where user_id = #{userId}
        <if test="appName != null and appName != ''">
            and app_name like #{appName}
        </if>
    </select>

</mapper>